<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Zelon </title>
    <link rel="shortcut icon" href="/images/Logo_zelon.svg">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/index-page.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="body-index">

    <div id="container">
        <div class="logo-container">
            <img src="/images/Logo_zelon_full_recorte.png" alt="Logo">
        </div>
        
        <img class="decorative-image"  src="/images/Imagem_decorativa_main_recorte.png" alt="Imagem decorativa">

        <div class="buttons-container">
            <a href="/second-page" class="button-quest">
                Escolher<br>questionário
            </a>
        </div>
       

    </div>
</body>
</html>