<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sobre</title>

    <link rel="shortcut icon" href="/images/Logo_zelon.svg" type="image/png">

    <link rel="stylesheet" href="/styles/main.css"></link>
    <link rel="stylesheet" href="/styles/partials/header.css"></link>
    <link rel="stylesheet" href="/styles/partials/footer.css"></link>
    <link rel="stylesheet" href="/styles/partials/container.css"></link>
    <link rel="stylesheet" href="/styles/partials/sobre.css"></link>
    

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-sobre">
    <div>
        <header class="page-header">
            <div class="top-bar">
                <a href="/">
                    <img src="/images/toppng.com-home-icon-home-house-icon-house-icon-free-337x293.png" alt="Home">
                </a>
                
                <img src="/images/Logo_zelon_full_recorte.svg" alt="Logo">
            </div>
        </header>

        <main  id="container">
            <p id="title">Sobre o Zelon</p><hr>
            <article id="conteudo">
                <p id="entre-contato">Entre em contato</p>
                <p>Para dúvidas, sugestões e críticas, entre em contato através do email jose.roberto@aluno.ifsp.com.br
                </p>
                <p>Site criado por:</p>
                <p style="margin-left: 2.5rem;">
                    José Roberto Claudino Ferreira<br>
                    Guilherme Molina Trindade<br>
                    João Paulo de Oliveira Andrade
                </p>
            </article>
        </main>

        <footer class="page-footer">
                <div id="sobre">© 2021 Zelon | 
                <a href="/sobre">Sobre</a></div>
        </footer>
    </div>
    
</body>
</html>